@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "../../assets/styles/_base/typography";
@import "../../assets/styles/_base/variables";

.tasks {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
    
        @include media-breakpoint-down(md) {
            flex-wrap: wrap;
        }
    
        h1 {
            @include font-size($font-xx-big);
            font-weight: $font-weight--regular;

            @include media-breakpoint-down(md) {
                margin-bottom: 32px;
            }
        }
      }

      article {
        @include media-breakpoint-down(md) {
            overflow-x: scroll;
            width: 100%;
        }
    }
}
