$background: #fafafa;
$primary: #191919;
$light-black: #191919;
$blue: #2F80ED;
$white: #Ffffff;
$yellow: #ffa500;
$green: #32cd32;
$red: #ff6347;
$error: #ff0000;
$grey-card: #F5F5F5;

$font-family--primary: 'Plus Jakarta Sans', sans-serif;